# Игнорировать всё содержимое папки data
data/*

# Исключить файлы .gitkeep из игнорируемых
!data/**/.gitkeep

# Игнорировать окружения
.env
*.env

# Игнорировать файлы IDE и редакторов
.idea/
.vscode/
*.swp
*.swo

# Игнорировать логи
*.log
logs/
log/

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать Docker volume
docker-volumes/

# Игнорировать временные файлы
*.tmp
*.temp
temp/
